<form action="https://getform.io/f/{{ site.getform.uuid }}" method="POST" class="wpcf7-form cf7_custom_style_2 init">
    <div>
        <span class="wpcf7-form-control-wrap your-name">
            <input type="text" name="name" placeholder="Your Name*" required class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" />
        </span>
    </div>
    <input type="email" name="email" placeholder="Your Email*" required class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" />
    <textarea name="message" rows="4" placeholder="Your Message*" required class="wpcf7-form-control wpcf7-textarea"></textarea>
    <button type="submit">Send</button>
</form>
