{%  comment %}
<form method="post" onsubmit="return false;" class="wpcf7-form cf7_custom_style_2 init" novalidate="novalidate" data-status="init">
    <div style="display: none;">
        <input type="hidden" name="_wpcf7" value="7391">
        <input type="hidden" name="_wpcf7_version" value="5.4.1">
        <input type="hidden" name="_wpcf7_locale" value="en_US">
        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f7391-p4718-o1">
        <input type="hidden" name="_wpcf7_container_post" value="4718">
        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
    </div>
    <div>
        <span class="wpcf7-form-control-wrap your-name">
            <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name*">
        </span>
    </div>
    <div>
        <span class="wpcf7-form-control-wrap email">
            <input type="email"
                   name="email" value="" size="40"
                   class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                   aria-required="true" aria-invalid="false"
                   placeholder="Your Email*">
        </span>
    </div>
    <div>
        <span class="wpcf7-form-control-wrap your-message">
            <textarea
                    name="your-message" cols="40" rows="8"
                    class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"
                    placeholder="Your Message">
            </textarea>
        </span>
    </div>
    <div>
        <input type="submit" onclick="javascript:void(0)" value="CONTACT US" class="wpcf7-form-control wpcf7-submit" aria-invalid="false">
        <span class="ajax-loader"></span>
    </div>
    <div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
{% endcomment %}
<form action="https://getform.io/f/{{ site.getform.uuid }}" method="POST" class="wpcf7-form cf7_custom_style_2 init">
    <div>
        <span class="wpcf7-form-control-wrap your-name">
            <input type="text" name="name" placeholder="Your Name*" required class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" />
        </span>
    </div>
    <input type="email" name="email" placeholder="Your Email*" required class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" />
    <textarea name="message" placeholder="Your Message*" required class="wpcf7-form-control wpcf7-textarea"></textarea>
    <button type="submit">Send</button>
</form>
