<div class="eltdf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1492074346410 eltdf-row-type-row"
         style="">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="eltdf-section-title-holder" style="text-align: center">
                        <h2 class="eltdf-st-title">
                            <span>YEARS OF EXPERIENCE</span>
                        </h2>
                        <div class="eltdf-st-separator clearfix">
                            <div class="eltdf-separator"></div>
                        </div>
                        <h4 class="eltdf-st-subtitle">
                                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                            sed do eiusmod tempor incididunt ut enia</span>
                        </h4>
                    </div>
                    <div class="vc_empty_space" style="height: 70px"><span
                                class="vc_empty_space_inner"></span></div>
                    <div class="eltdf-elements-holder eltdf-responsive-mode-768">
                        <div class="eltdf-eh-item " data-item-class="eltdf-eh-custom-995026"
                             data-1024-1280="0 5%" data-768-1024="0 0%" data-600-768="0 0%"
                             data-480="0 0%">
                            <div class="eltdf-eh-item-inner"
                                 style="background-image: url();background-size: cover">
                                <div class="eltdf-eh-item-content eltdf-eh-custom-995026"
                                     style="padding: 0 11%">
                                    <div
                                            class="eltdf-item-showcase-holder clearfix eltdf-is-narrow_image">
                                        <div class="eltdf-is-item eltdf-is-left">
                                            <div class="eltdf-is-content">
                                                <h5 class="eltdf-is-title">
                                                    2007 - 2009 </h5>
                                                <p class="eltdf-is-text">Lorem ipsum dolor
                                                    sit amet, consectetuer adipiscing elit,
                                                    sed diam nonummy nibh euismod tincidunt
                                                    ut laoreet dolore magna aliquam erat
                                                    volutpat sodales.</p>
                                            </div>
                                        </div>
                                        <div class="eltdf-is-item eltdf-is-left">
                                            <div class="eltdf-is-content">
                                                <h5 class="eltdf-is-title">
                                                    2009 - 2010 </h5>
                                                <p class="eltdf-is-text">Lorem ipsum dolor
                                                    sit amet, consectetuer adipiscing elit,
                                                    sed diam nonummy nibh euismod tincidunt
                                                    ut laoreet dolore magna aliquam erat
                                                    volutpat sodales.</p>
                                            </div>
                                        </div>
                                        <div class="eltdf-is-item eltdf-is-left">
                                            <div class="eltdf-is-content">
                                                <h5 class="eltdf-is-title">
                                                    2010 - 2013 </h5>
                                                <p class="eltdf-is-text">Lorem ipsum dolor
                                                    sit amet, consectetuer adipiscing elit,
                                                    sed diam nonummy nibh euismod tincidunt
                                                    ut laoreet dolore magna aliquam erat
                                                    volutpat sodales.</p>
                                            </div>
                                        </div>
                                        <div class="eltdf-is-item eltdf-is-right">
                                            <div class="eltdf-is-content">
                                                <h5 class="eltdf-is-title">
                                                    2013 - 2014 </h5>
                                                <p class="eltdf-is-text">Lorem ipsum dolor
                                                    sit amet, consectetuer adipiscing elit,
                                                    sed diam nonummy nibh euismod tincidunt
                                                    ut laoreet dolore magna aliquam erat
                                                    volutpat sodales.</p>
                                            </div>
                                        </div>
                                        <div class="eltdf-is-item eltdf-is-right">
                                            <div class="eltdf-is-content">
                                                <h5 class="eltdf-is-title">
                                                    2014 - 2016 </h5>
                                                <p class="eltdf-is-text">Lorem ipsum dolor
                                                    sit amet, consectetuer adipiscing elit,
                                                    sed diam nonummy nibh euismod tincidunt
                                                    ut laoreet dolore magna aliquam erat
                                                    volutpat sodales.</p>
                                            </div>
                                        </div>
                                        <div class="eltdf-is-item eltdf-is-right">
                                            <div class="eltdf-is-content">
                                                <h5 class="eltdf-is-title">
                                                    2017 </h5>
                                                <p class="eltdf-is-text">Lorem ipsum dolor
                                                    sit amet, consectetuer adipiscing elit,
                                                    sed diam nonummy nibh euismod tincidunt
                                                    ut laoreet dolore magna aliquam erat
                                                    volutpat sodales.</p>
                                            </div>
                                        </div>
                                        <div class="eltdf-is-image"
                                             style="margin-top: 196px"><img width="58"
                                                                            height="125"
                                                                            src="https://vino.qodeinteractive.com/wp-content/uploads/2017/03/about-me-title-img1.png"
                                                                            class="attachment-full size-full" alt="a"
                                                                            loading="lazy"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
