<div class="eltdf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1489678880204 eltdf-content-aligment-center eltdf-row-type-row" style="">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner vc_custom_1489652759587">
                <div class="wpb_wrapper">
                    <div class="eltdf-section-title-holder">
                        <h2 class="eltdf-st-title">
                            <span>{{ site.author }}</span>
                        </h2>
                        <div class="eltdf-st-separator clearfix">
                            <div class="eltdf-separator"></div>
                        </div>
                        <h4 class="eltdf-st-subtitle">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut enia</span>
                        </h4>
                    </div>
                    <div class="vc_empty_space" style="height: 40px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="vc_row wpb_row vc_inner vc_row-fluid eltdf-content-aligment-ceter" style="display: flex; justify-content: center">
                        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="eltdf-team-holder  eltdf-main-info-below-image">
                                        <div class="eltdf-team-inner">
                                            <div class="eltdf-team-image" style="border-radius: 50%;width: 300px;height: 300px;background-image: url(/assets/brothers-in-vine/images/our-team.jpeg);background-repeat: no-repeat;background-size: cover;background-position: center;" >
                                            </div>
                                            <div class="eltdf-team-info">
                                                <h6 class="eltdf-team-position" style="color: var(--primary-color);">winemaker</h6>
                                                <p class="eltdf-team-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 40px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
