<div class="eltdf-elements-holder eltdf-responsive-mode-768">
    <div class="eltdf-eh-item " data-item-class="eltdf-eh-custom-190930" data-1280-1600="12% 0%" data-1024-1280="12% 0%" data-768-1024="12% 0%" data-600-768="11% 0%" data-480-600="11% 0%" data-480="11% 0%">
        <div class="eltdf-eh-item-inner">
            <div class="eltdf-eh-item-content eltdf-eh-custom-190930">
                <iframe src="https://snazzymaps.com/embed/{{ site.widgets.snazzymaps.id }}?v={{ site.version }}" width="100%" height="600px" style="border:none;"></iframe>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>
