<div class="eltdf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1489661365603 eltdf-content-aligment-center eltdf-row-type-row" style="">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner vc_custom_1489652759587">
                <div class="wpb_wrapper">
                    <div class="eltdf-section-title-holder">
                        <h2 class="eltdf-st-title">
                            <span>Our History</span>
                        </h2>
                        <div class="eltdf-st-separator clearfix">
                            <div class="eltdf-separator"></div>
                        </div>
                        <h4 class="eltdf-st-subtitle">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut enia</span>
                        </h4>
                    </div>
                    <div class="vc_empty_space" style="height: 90px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="eltdf-elements-holder eltdf-responsive-mode-768">
                        <div class="eltdf-eh-item " data-item-class="eltdf-eh-custom-443649" data-1280-1600="0% 4%" data-1024-1280="0% 4%" data-768-1024="0% 0%" data-600-768="0% 0%" data-480-600="0% 0%" data-480="0% 0%">
                            <div class="eltdf-eh-item-inner">
                                <div class="eltdf-eh-item-content eltdf-eh-custom-443649" style="padding: 0% 4%">
                                    <div class="eltdf-workflow eltdf-workflow-animate">
                                        <div class="eltdf-workflow-item eltdf-workflow-item-narrow_image">
                                            <div class="eltdf-workflow-item-inner">
                                                <div class="eltdf-workflow-text-left">
                                                    <h6 class="eltdf-wfi-subtitle">purchased farm</h6>
                                                    <span class="circle"></span>
                                                    <h3 class="eltdf-wfi-title">1997</h3>
                                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quam ut lectus porttitor, ut ultricies libero cursus.</p>
                                                </div>
                                                <div class="eltdf-workflow-image">
                                                    <img width="112" height="159" src="{{ '/assets/brothers-in-vine/images/h1-workflow-1.png' | relative_url }}" class="attachment-full size-full" alt="a" loading="lazy">
                                                </div>
                                                <div class="eltdf-workflow-text-right">
                                                    <span class="circle"></span>
                                                    <h6 class="eltdf-wfi-subtitle">first wineyard</h6>
                                                    <h3 class="eltdf-wfi-title">1999</h3>
                                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quam ut lectus porttitor, ut ultricies libero cursus.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="eltdf-workflow-item eltdf-workflow-item-narrow_image">
                                            <div class="eltdf-workflow-item-inner">
                                                <div class="eltdf-workflow-text-left">
                                                    <h6 class="eltdf-wfi-subtitle">first production</h6>
                                                    <span class="circle"></span>
                                                    <h3 class="eltdf-wfi-title">2001</h3>
                                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quam ut lectus porttitor, ut ultricies libero cursus.</p>
                                                </div>
                                                <div class="eltdf-workflow-image">
                                                    <img width="92" height="131" src="{{ "/assets/brothers-in-vine/images/h1-workflow-2.png" | relative_url }}" class="attachment-full size-full" alt="a" loading="lazy"> </div>
                                                <div class="eltdf-workflow-text-right">
                                                    <span class="circle"></span>
                                                    <h6 class="eltdf-wfi-subtitle">first customers</h6>
                                                    <h3 class="eltdf-wfi-title">2003</h3>
                                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quam ut lectus porttitor, ut ultricies libero cursus.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="eltdf-workflow-item eltdf-workflow-item-narrow_image">
                                            <div class="eltdf-workflow-item-inner">
                                                <div class="eltdf-workflow-text-left">
                                                    <h6 class="eltdf-wfi-subtitle">small enterprise</h6>
                                                    <span class="circle"></span>
                                                    <h3 class="eltdf-wfi-title">2005</h3>
                                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quam ut lectus porttitor, ut ultricies libero cursus.</p>
                                                </div>
                                                <div class="eltdf-workflow-image">
                                                    <img width="63" height="247" src="{{ '/assets/brothers-in-vine/images/h1-workflow-3.png' | relative_url }}" class="attachment-full size-full" alt="a" loading="lazy">
                                                </div>
                                                <div class="eltdf-workflow-text-right">
                                                    <span class="circle"></span>
                                                    <h6 class="eltdf-wfi-subtitle">organic company</h6>
                                                    <h3 class="eltdf-wfi-title">2007</h3>
                                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quam ut lectus porttitor, ut ultricies libero cursus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
