<div class="eltdf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1489665642999 eltdf-content-aligment-center eltdf-row-type-row" style="">
        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <span class="eltdf-icon-shortcode eltdf-normal">
                        <i class="eltd-icon-linear-icon lnr lnr-sun eltdf-icon-element" style="color: var(--primary-color);font-size:32px"></i>
                    </span>
                    <div class="vc_empty_space" style="height: 32px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="eltdf-counter-holder">
                        <div class="eltdf-counter-inner">
                            <span class="eltdf-counter eltdf-zero-counter">2568</span>
                            <h6 class="eltdf-counter-title" style="color: var(--primary-color);">sunny hours</h6>
                        </div>
                    </div>
                    <div class="vc_empty_space" style="height: 50px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <span class="eltdf-icon-shortcode eltdf-normal">
                        <i class="eltd-icon-linear-icon lnr lnr-star eltdf-icon-element" style="color: var(--primary-color);font-size:32px"></i>
                    </span>
                    <div class="vc_empty_space" style="height: 32px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="eltdf-counter-holder">
                        <div class="eltdf-counter-inner">
                            <span class="eltdf-counter eltdf-zero-counter">37</span>
                            <h6 class="eltdf-counter-title" style="color: var(--primary-color);">awards won </h6>
                        </div>
                    </div>
                    <div class="vc_empty_space" style="height: 50px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <span class="eltdf-icon-shortcode eltdf-normal">
                        <i class="eltd-icon-linear-icon lnr lnr-heart eltdf-icon-element" style="color: var(--primary-color);font-size:32px"></i>
                    </span>
                    <div class="vc_empty_space" style="height: 32px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="eltdf-counter-holder">
                        <div class="eltdf-counter-inner">
                            <span class="eltdf-counter eltdf-zero-counter">157</span>
                            <h6 class="eltdf-counter-title" style="color: var(--primary-color)">wine types </h6>
                        </div>
                    </div>
                    <div class="vc_empty_space" style="height: 50px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <span class="eltdf-icon-shortcode eltdf-normal">
                        <i class="eltd-icon-linear-icon lnr lnr-leaf eltdf-icon-element" style="color: var(--primary-color);font-size:32px"></i>
                    </span>
                    <div class="vc_empty_space" style="height: 32px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                    <div class="eltdf-counter-holder">
                        <div class="eltdf-counter-inner">
                            <span class="eltdf-counter eltdf-zero-counter">2167</span>
                            <h6 class="eltdf-counter-title" style="color: var(--primary-color);">happy customers </h6>
                        </div>
                    </div>
                    <div class="vc_empty_space" style="height: 50px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
