<div class="eltdf-row-grid-section">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1489661241046 eltdf-row-type-row" style="">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3>Traditional Winemaking</h3>
                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 18px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1489655038311">
                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper vc_box_border_grey">
                                                <img width="134" height="58" src="{{ '/assets/brothers-in-vine/images/h1-img-1.png' | relative_url }}" class="vc_single_image-img attachment-full" alt="a" loading="lazy">
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 vc_col-md-8">
                            <div class="vc_column-inner vc_custom_1489661199322">
                                <div class="wpb_wrapper">
                                    <div class="vc_empty_space" style="height: 15px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: justify;">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus quam ut lectus porttitor, ut ultricies libero cursus. Suspendisse nec ornare erat. Phasellus nec dolor non enim finibus varius. Morbi sollicitudin, magna eu maximus laoreet, felis nisi rhoncus elit, quis cursus diam leo vel velit. Vivamus nec venenatis nunc. Sed malesuada ligula et luctus ullamcorper. Nunc vehicula aliquam lobortis vel neque eu justo varius vulputate varius consectetur dolor sollicitudineu turpis posuere blandit.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%- include brothers-in-vine/home/section-separator.html -%}
                </div>
            </div>
        </div>
    </div>
</div>
