<footer>
    <div class="eltdf-footer-inner clearfix">
        <div class="eltdf-footer-top-holder">
            <div class="eltdf-footer-top ">
                <div class="eltdf-container">
                    <div class="eltdf-container-inner">
                        <div class="eltdf-four-columns clearfix">
                            <div class="eltdf-four-columns-inner">
                                {% for store in site.stores %}
                                <div class="eltdf-column">
                                    <div class="eltdf-column-inner">
                                        {% include brothers-in-vine/widgets/stores/stores-small.liquid %}
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="eltdf-column">
                                    <div class="eltdf-column-inner">
                                        <div id="eltdf_instagram_widget-10" class="widget eltdf-footer-column-4 widget_eltdf_instagram_widget">
                                            {%- include brothers-in-vine/widgets/instagram.html -%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
