<footer>
    <div class="eltdf-footer-inner clearfix">
        <div class="eltdf-footer-top-holder">
            <div class="eltdf-footer-top ">
                <div class="eltdf-container">
                    <div class="eltdf-container-inner">
                        <div class="eltdf-three-columns clearfix">
                            <div class="eltdf-three-columns-inner">
                                <div class="eltdf-column">
                                    <div class="eltdf-column-inner">
                                        <div id="text-2" class="widget eltdf-footer-column-1 widget_text">
                                            <div class="textwidget">
                                                <div class="vc_empty_space" style="height: 7px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                <a href="{{site.url}}">
                                                    {%- include brothers-in-vine/logos/logo-white.html -%}
                                                </a>
                                                <div class="vc_empty_space" style="height: 30px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit scelerisque.
                                                <div class="vc_empty_space" style="height: 26px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                                Quisque feugiat mattis ornare. Suspendisse sit amet dictum felis. Nullam ac est id lacus, sed non mauris.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="eltdf-column">
                                    <div class="eltdf-column-inner">
                                        <div id="text-3" class="widget eltdf-footer-column-2 widget_text">
                                            {% include brothers-in-vine/widgets/stores/stores-small.liquid %}
                                        </div>
                                    </div>
                                </div>
                                <div class="eltdf-column">
                                    <div class="eltdf-column-inner">
                                        <div id="eltdf_instagram_widget-10" class="widget eltdf-footer-column-4 widget_eltdf_instagram_widget">
                                            {%- include brothers-in-vine/widgets/instagram.html -%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
