<header class="eltdf-mobile-header">
    <div class="eltdf-mobile-header-inner">
        <div class="eltdf-mobile-header-holder">
            <div class="eltdf-grid">
                <div class="eltdf-vertical-align-containers">
                    <div class="eltdf-mobile-menu-opener">
                        <a href="javascript:void(0)">
                            <div class="eltdf-mo-icon-holder">
                                <span class="eltdf-mo-lines">
                                    <span class="eltdf-mo-line eltdf-line-1"></span>
                                    <span class="eltdf-mo-line eltdf-line-2"></span>
                                    <span class="eltdf-mo-line eltdf-line-3"></span>
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="eltdf-position-center">
                        <div class="eltdf-position-center-inner">
                            <div class="eltdf-mobile-logo-wrapper">
                                <a itemprop="url" href="{{site.url}}" style="height: 80px">
                                    {%- include brothers-in-vine/logos/logo-mobile.html -%}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="eltdf-position-right">
                        <div class="eltdf-position-right-inner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%- include brothers-in-vine/menus/mobile.html -%}
    </div>
</header>
