<meta charset="UTF-8" />
<meta name="version" content="{{site.version}}" />
<meta name="format-detection" content="telephone=no" />
<link rel="profile" href="https://gmpg.org/xfn/11" />
<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
{%- seo -%}
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<meta name="robots" content="max-image-preview:large">
<link rel="stylesheet" href="{{ "/assets/brothers-in-vine/styles/palette.css" | relative_url }}" media="all">
<link rel="stylesheet" href="{{ "/assets/brothers-in-vine/styles/6bcd6.css" | relative_url }}" media="all">
<link rel="stylesheet" href="{{ "/assets/brothers-in-vine/styles/edd85.css" | relative_url }}" media="all">
<style id="woocommerce-inline-inline-css" type="text/css">
    .woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel="stylesheet" href="{{ "/assets/brothers-in-vine/styles/d1bc8.css" | relative_url }}" media="all">
<style id="vino-elated-modules-inline-css" type="text/css">
    .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner,
    eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
        padding-top: 0px !important;
    }
    /* Chrome Fix */
    .eltdf-vertical-align-containers .eltdf-position-center:before,
    .eltdf-vertical-align-containers .eltdf-position-left:before,
    .eltdf-vertical-align-containers .eltdf-position-right:before  {
        margin-right: 0;
    }
</style>
<link rel="stylesheet" href="{{ "/assets/brothers-in-vine/styles/f85ea.css" | relative_url }}" media="all">
<link rel="stylesheet" id="vino-elated-google-fonts-css" href="https://fonts.googleapis.com/css?family=Catamaran%3A100%2C300%2C400%2C400italic%2C500%2C900%2C900italic%3B%7CCinzel%3A100%2C300%2C400%2C400italic%2C500%2C900%2C900italic%3B%7COld+Standard+TT%3A100%2C300%2C400%2C400italic%2C500%2C900%2C900italic%3B%7CCatamaran%3A100%2C300%2C400%2C400italic%2C500%2C900%2C900italic%3B%7CUbuntu%3A100%2C300%2C400%2C400italic%2C500%2C900%2C900italic%3B%7COld+Standard+TT%3A100%2C300%2C400%2C400italic%2C500%2C900%2C900italic%3B&amp;subset=latin-ext&amp;ver=1.0.0" type="text/css" media="all">
<link rel="stylesheet" href="{{ "/assets/brothers-in-vine/styles/e631c.css" | relative_url }}" media="all">
<script src="{{ "/assets/brothers-in-vine/scripts/0b54c.js" | relative_url }}"></script>
<script src="{{ "/assets/brothers-in-vine/scripts/f1253.js" | relative_url }}"></script>
<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
<link rel="icon" href="{{ "/assets/brothers-in-vine/images/icon_final_30x30.png" | relative_url }}" sizes="32x32">
<link rel="icon" href="{{ "/assets/brothers-in-vine/images/icon_final_30x30.png" | relative_url }}" sizes="192x192">
<link rel="apple-touch-icon" href="{{ "/assets/brothers-in-vine/images/icon_final_30x30.png" | relative_url }}">
<meta name="msapplication-TileImage" content="{{ "/assets/brothers-in-vine/images/icon_final_30x30.png" | relative_url }}">
<script type="text/javascript">function setREVStartSize(e){
  //window.requestAnimationFrame(function() {
  window.RSIW = window.RSIW===undefined ? window.innerWidth : window.RSIW;
  window.RSIH = window.RSIH===undefined ? window.innerHeight : window.RSIH;
  try {
    var pw = document.getElementById(e.c).parentNode.offsetWidth,
        newh;
    pw = pw===0 || isNaN(pw) ? window.RSIW : pw;
    e.tabw = e.tabw===undefined ? 0 : parseInt(e.tabw);
    e.thumbw = e.thumbw===undefined ? 0 : parseInt(e.thumbw);
    e.tabh = e.tabh===undefined ? 0 : parseInt(e.tabh);
    e.thumbh = e.thumbh===undefined ? 0 : parseInt(e.thumbh);
    e.tabhide = e.tabhide===undefined ? 0 : parseInt(e.tabhide);
    e.thumbhide = e.thumbhide===undefined ? 0 : parseInt(e.thumbhide);
    e.mh = e.mh===undefined || e.mh=="" || e.mh==="auto" ? 0 : parseInt(e.mh,0);
    if(e.layout==="fullscreen" || e.l==="fullscreen")
      newh = Math.max(e.mh,window.RSIH);
    else{
      e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
      for (var i in e.rl) if (e.gw[i]===undefined || e.gw[i]===0) e.gw[i] = e.gw[i-1];
      e.gh = e.el===undefined || e.el==="" || (Array.isArray(e.el) && e.el.length==0)? e.gh : e.el;
      e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
      for (var i in e.rl) if (e.gh[i]===undefined || e.gh[i]===0) e.gh[i] = e.gh[i-1];

      var nl = new Array(e.rl.length),
          ix = 0,
          sl;
      e.tabw = e.tabhide>=pw ? 0 : e.tabw;
      e.thumbw = e.thumbhide>=pw ? 0 : e.thumbw;
      e.tabh = e.tabhide>=pw ? 0 : e.tabh;
      e.thumbh = e.thumbhide>=pw ? 0 : e.thumbh;
      for (var i in e.rl) nl[i] = e.rl[i]<window.RSIW ? 0 : e.rl[i];
      sl = nl[0];
      for (var i in nl) if (sl>nl[i] && nl[i]>0) { sl = nl[i]; ix=i;}
      var m = pw>(e.gw[ix]+e.tabw+e.thumbw) ? 1 : (pw-(e.tabw+e.thumbw)) / (e.gw[ix]);
      newh =  (e.gh[ix] * m) + (e.tabh + e.thumbh);
    }
    if(window.rs_init_css===undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
    document.getElementById(e.c).height = newh+"px";
    window.rs_init_css.innerHTML += "#"+e.c+"_wrapper { height: "+newh+"px }";
  } catch(e){
    console.log("Failure at Presize of Slider:" + e)
  }
  //});
};</script>
<noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style>
</noscript>
