<html lang="en-US">
<head>
    {%- include brothers-in-vine/head.html -%}
</head>
<body class="product-template-default single single-product postid-8474 theme-vino eltd-core-1.4 woocommerce woocommerce-page woocommerce-no-js vino-ver-1.8 eltdf-smooth-page-transitions eltdf-mimic-ajax eltdf-grid-1300 eltdf-fade-push-text-right eltdf-header-standard eltdf-sticky-header-on-scroll-up eltdf-default-mobile-header eltdf-sticky-up-mobile-header eltdf-dropdown-animate-height eltdf-fullscreen-search eltdf-search-fade eltdf-side-menu-slide-from-right eltdf-woocommerce-page eltdf-woo-single-page eltdf-woocommerce-columns-4 eltdf-woo-normal-space eltdf-woo-pl-info-below-image eltdf-woo-single-page-standard eltdf-woo-single-thumb-below-image wpb-js-composer js-comp-ver-6.6.0 vc_responsive" itemscope="" itemtype="http://schema.org/WebPage">
<div class="eltdf-wrapper">
    <div class="eltdf-wrapper-inner">
        {%- include brothers-in-vine/header.html -%}
        <div class="eltdf-content">
            <div class="eltdf-content-inner">
                <div class="eltdf-container">
                    <div class="eltdf-container-inner clearfix" style="padding-top:80px !important">
                        <div class="woocommerce-notices-wrapper"></div>
                        <div id="product-8474" class="product type-product post-8474 status-publish first instock product_cat-desert-wine product_tag-delicious product_tag-new product_tag-strong product_tag-tasty has-post-thumbnail shipping-taxable purchasable product-type-simple">
                            <div class="eltdf-single-product-content" style="display: flex; align-items: center">
                                <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-3 images" data-columns="3" style="opacity: 1; transition: opacity 0.25s ease-in-out 0s;">
                                    <figure class="woocommerce-product-gallery__wrapper">
                                        <div class="woocommerce-product-gallery__image">
                                            <a href="{{page.image}}">
                                                <img width="668" height="750" src="{{page.image}}" class="attachment-shop_single size-shop_single" alt="a" loading="lazy" data-src="{{page.image}}" data-large_image="{{page.image}}" data-large_image_width="1000" data-large_image_height="1123">
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="eltdf-single-product-summary">
                                    <div class="summary entry-summary">
                                        <h2 itemprop="name" class="eltdf-single-product-title">{{page.title}}</h2>
                                        <div class="woocommerce-product-details__short-description">
                                            <p>
                                                {{page.description}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%- include brothers-in-vine/footer.html -%}
    </div>
</div>

{%- include brothers-in-vine/footer-scripts.html -%}
<script src="{{ "/assets/brothers-in-vine/scripts/157cd.js" | relative_url }}"></script>
<script src="{{ "/assets/brothers-in-vine/scripts/1d4f5.js" | relative_url }}"></script>
<script src="{{ "/assets/brothers-in-vine/scripts/a8560.js" | relative_url }}"></script>
</body>
</html>
